[submodule "src/business-ecosystem-logic-proxy"]
	path = src/business-ecosystem-logic-proxy
	url = https://github.com/FIWARE-TMForum/business-ecosystem-logic-proxy.git
[submodule "src/business-ecosystem-charging-backend"]
	path = src/business-ecosystem-charging-backend
	url = https://github.com/FIWARE-TMForum/business-ecosystem-charging-backend.git
