FORMAT: 1A
HOST: https://store.lab.fiware.org/
TITLE: FIWARE Business API Ecosystem Open API Specification
DATE: 15 August 2016
VERSION: v5.4.3
PREVIOUS_VERSION: v5.4.3
APIARY_PROJECT: fiwaretmfbizecosystem
SPEC_URL: https://fiware-tmforum.github.io/Business-API-Ecosystem/
GITHUB_SOURCE: https://github.com/FIWARE-TMForum

# FIWARE TMF Business API Ecosystem

The Business API Ecosystem is a joint component made up of the FIWARE Business Framework
and a set of APIs (and its reference implementations) provided by the TMForum.
This component allows the monetization of different kind of assets (both digital and physical)
during the whole service life cycle, from offering creation to its charging, accounting and
revenue settlement and sharing. The Business API Ecosystem exposes its complete functionality
through TMForum standard APIs; concretely, it includes the catalog management, ordering management,
inventory management, usage management, billing, customer, and party APIs.

## Editors

* Francisco de la Vega, Universidad Politénica de Madrid

## Status

This is a work in progress and is changing on a daily basis. You can check the latest
available version on [GitHub](https://github.com/FIWARE-TMForum).

Please send your comments to <wstore@conwet.com>.

This specification is licensed under the [FIWARE Open Specification License](https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FI-WARE_Open_Specification_Legal_Notice_%28implicit_patents_license%29)

## Acknowledgements

The editors would like to express their gratitude to the following people who actively contributed to this specification:
Pierre Gauthier, Aitor Magán, and Álvaro Arranz García 

## Copyright

* Copyright © 2016 by Universidad Politénica de Madrid
* Copyright © 2016 by TM Forum

## License

This specification is licensed under the
[FIWARE Open Specification License (implicit patent license)]
(https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Implicit_Patents_License).

## Specification

### Authentication

Each HTTP request against the Business API Ecosystem API requires the inclusion of specific authentication credentials. The specific implementation of this API may support multiple authentication schemes (OAuth, Basic Auth, Token) and will be determined by the specific provider that implements the GE. Please contact the provider to determine the best way to authenticate against this API. Remember that some authentication schemes may require that the API operates using SSL over HTTP (HTTPS).

The reference implementation of the Business API Ecosystem provides support for Cookie, and OAuth2 authentication, being OAuth2 the default in FIWARE Lab.

### Synchronous Faults

Error responses will be encoded using the most appropriated <code>content-type</code> in base to the <code>Accept</code> header of the request.

JSON Example


    {
        "error": "No JSON object could be decoded",
    }


XML Example


    <?xml version="1.0" encoding="utf-8"?>
    <error>No JSON object could be decoded</error>


### Used HTTP Codes


| HTTP Code | Type | Description |
|-----------|------|------------ |
| 200 | OK | Your request has been completed properly |
| 201 | Created | Your resource has been created.|
| 204 | No content | Your request has been processed, but a response is not available. Generally used when deleting entities|
| 400 | Bad Request | The content of your request is not correct |
| 401 | Unauthorized | You are not logged in or the Authorization token you are providing is not valid |
| 403 | Forbidden | You have no rights to perform the request |
| 404 | Not Found | The resource you are looking for does not exists |
| 409 | Conflict | The resource you are tring to create already exists |
| 422 | Unprocessable Entity | The entity included in the request cannot be processed (e.g. It includes invalid fields)
| 500 | Internal server error | There was an internal error in the system so your request cannot be completed |

# Group Asset Type Management API

API for the management of asset types. These asset types represent the different kind of digital assets that can be validated, managed, and activated by the system.
The different asset types are included in the system  by the admins, who can install them as plugins.

This API manages the following fields:

* **id** - id in the system of the asset type
* **href** - URL pointing to the asset type info
* **name** - Name of the asset type
* **author** - Author of the installed plugin that implements the asset type
* **version** - Version of the plugin that implements the asset type
* **mediaTypes** - List of media types that are valid when provided an asset of the given type. If this field is empty, any media type is allowed
* **formats** - List of formats that are valid when providing an asset of the given type. URL and FILE formats are supported
* **overrides** - List of product fields whose value will be overrided by the plugin implementation, when a product spec is created including the asset

## Asset Types Collection [/charging/api/assetManagement/assetTypes]

### List asset types [GET]

+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        [
            {
                "id": "1",
                "href": "https://store.lab.fiware.org/charging/api/assetManagement/assetTypes/1",
                "name": "Java App",
                "author": "fdelavega",
                "version": "1",
                "mediaTypes": ["application/zip"],
                "formats": ["FILE"],
                "overrides": []
            }
        ]

## Asset Type Entry [/charging/api/assetManagement/assetTypes/{id}]

### Get asset type [GET]

+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        
        {
            "id": "1",
            "href": "https://store.lab.fiware.org/charging/api/assetManagement/assetTypes/1",
            "name": "Java App",
            "author": "fdelavega",
            "version": "1",
            "mediaTypes": ["application/zip"],
            "formats": ["FILE"],
            "overrides": []
        }

# Group Asset Management API

API for the management of digital assets. These assets can be used by the Business API Ecosystem 
for the creation of digital products or as attachments in product specifications (e.g the logo, a pdf document, etc)

This API manages the following fields:

* **id** - Id in the system of the digital asset 
* **href** - URL that can be used to retrieve the information of the digital asset
* **version** - Version of the digital asset
* **contentType** - Media type of the digital asset (e.g application/pdf)
* **state** - Current status of the asset in its life cycle
* **location** - URL where it is possible to download the digital asset itself 
* **resourceType** - Type of digital asset chosen between the supported by the system
* **metadata** - A generic field with information provided by the owner of the asset

Additionally, for uploading assets the API manages the following fields:

* **isPublic** - Specifies whether the asset could be downloaded by any user or only by the authorized ones (typically the owner and customers if the assets has been included in a product)
* **content** - Object containing the file itself. This object includes the following fields:
    * **name** - Name of the asset file being uploaded
    * **data** - Base64 encoded raw data of the asset file being uploaded

## Asset Info collection [/charging/api/assetManagement/assets{?start}{?limit}]

### List seller assets [GET]

+ Parameters

    + start - 1 (optional) - Optional parameter used to specify the first element to be returned
    + limit - 10 (optional) - Optional parameter used to limit the number of elements returned
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        [
            {
                "id": "1",
                "href": "https://store.lab.fiware.org/charging/api/assetManagement/assets/1",
                "version": "1",
                "contentType": "application/zip",
                "state": "Active",
                "location": "https://store.lab.fiware.org/charging/api/media/application.war",
                "resourceType": "Java App",
                "metadata": {}
            }
        ]

## Asset Info Entry [/charging/api/assetManagement/assets/{id}]

### Get seller asset [GET]

+ Parameters

    + id - 1 - Id of the element to be retrieved
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        
        {
            "id": "1",
            "href": "https://store.lab.fiware.org/charging/api/assetManagement/assets/1",
            "version": "1",
            "contentType": "application/zip",
            "state": "Active",
            "location": "https://store.lab.fiware.org/charging/api/media/application.war",
            "resourceType": "Java App",
            "metadata": {}
        }
        
## Upload asset task [/charging/api/assetManagement/assets/uploadJob/]

There are two different ways of uploading digital assets in the Business API Ecosystem GE.
On the one hand, it is possible to encode the asset in base64 and make a pure JSON request including 
the encoded data. On the other hand, it is possible to make a multipart form request, providing a JSON with
the asset metadata and including the asset as a file in the HTTP request.

### Upload base64 encoded asset [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body

            {
                "version": "1.0",
                "contentType": "application/zip",
                "isPublic": false,
                "metadata": {},
                "content": {
                    "name": "application.war",
                    "data": "encoded data"
                }
            }

+ Request (multipart/form-data)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body

            {
                "version": "1.0",
                "contentType": "application/zip",
                "isPublic": false,
                "metadata": {},
            }
            
            +
            
            FILE

+ Response 201

    + Headers

            Location: URL_TO_YOUR_ASSET


# Group Category Management API

API for the management of categories. A Category is used to group catalogs and product offerings in logical
containers.  Categories can contain other categories being possible to create a tree of categories.

Category Management API uses the following fields:

* **id** - Unique identifier of the category
* **href** - URL pointing to the category info
* **version** - Version of the category
* **lastUpdate** - Date and time of the last update
* **name** - Name of the category
* **lifecycleStatus** - Current lifecycle status
* **parentId** - Id of the parent of the current category. If this field has a value, *isRoot* must be false 
* **isRoot** - Specifies whether this category is a root category or has a parent
* **description** - Descrfiption of the category

## Category Collection [/DSProductCatalog/api/catalogManagement/v2/category{?start}{?limit}]

### List Categories [GET]

+ Parameters

    + start - 1 (optional) - Optional parameter used to specify the first element to be returned
    + limit - 10 (optional) - Optional parameter used to limit the number of elements returned
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        [
            {
                "id": "41",
                "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/41",,
                "lastUpdate": "2013-04-19T16:42:23.0Z",
                "version": "2.0",
                "lifecycleStatus": "Active",
                "parentId": "",
                "isRoot": true,
                "name": "Digital Service",
                "description": "A category to hold all available digital services"
            },
            {
                "id": "42",
                "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/42",,
                "lastUpdate": "2013-04-19T16:42:23.0Z",
                "version": "2.0",
                "lifecycleStatus": "Active",
                "parentId": "41",
                "isRoot": false,
                "name": "Cloud Service",
                "description": "A category to hold all available cloud service offers"
            }
        ]

### Create Category [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body
    
            {
                "version": "2.0",
                "lifecycleStatus": "Active",
                "parentId": "",
                "isRoot": true,
                "name": "Digital Service",
                "description": "A category to hold all available digital services"
            }
            
+ Response 201 (application/json)

        {
            "id": "41",
            "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/41",,
            "lastUpdate": "2013-04-19T16:42:23.0Z",
            "version": "2.0",
            "lifecycleStatus": "Active",
            "parentId": "",
            "isRoot": true,
            "name": "Digital Service",
            "description": "A category to hold all available digital services"
        }

## Category Entry [/DSProductCatalog/api/catalogManagement/v2/category/{id}]

### Get Category [GET]

+ Parameters

    + id - 1 - Id of the category to be returned
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        {
            "id": "41",
            "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/41",,
            "lastUpdate": "2013-04-19T16:42:23.0Z",
            "version": "2.0",
            "lifecycleStatus": "Active",
            "parentId": "",
            "isRoot": true,
            "name": "Digital Service",
            "description": "A category to hold all available digital services"
        }

### Update Category [PATCH]

+ Parameters

    + id - 1 - Id of the category to be updated

+ Request - Partial update of the category, only the fields to be updated need to be provided - (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body

            {
                "lifecycleStatus": "Retired"
            }

+ Response 200 (application/json)

        {
            "id": "41",
            "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/41",
            "lastUpdate": "2013-04-19T16:42:23.0Z",
            "version": "2.0",
            "lifecycleStatus": "Retired",
            "parentId": "",
            "isRoot": true,
            "name": "Digital Service",
            "description": "A category to hold all available digital services"
        }

# Group Product Catalog Management API

API for the management of catalogs. These catalogs are collections of product offerings that are grouped togueter
according to the seller needs.

The product catalog management API uses the following fields:

* **id** - Unique identifier of the catalog
* **href** - URL pointing to the catalog info
* **version** - Version of the catalog
* **lastUpdate** - Date and time of the last update
* **category** - List of categories of the catalog. For each category the id, href, and name fields are included as described in Category Management section.
* **name** - Name of the catalog
* **lifecycleStatus** - Current lifecycle status
* **relatedParty** - List of parties and its roles related to the current catalog. For each party, it is included the id and the href as described in the Party Management section. Additionally, it is inlcluded a *role* field specifing the role of the user in the current catalog

## Product Catalog Collection [/DSProductCatalog/api/catalogManagement/v2/catalog{?start}{?limit}]

### List Product Catalogs [GET]

+ Parameters

    + start - 1 (optional) - Optional parameter used to specify the first element to be returned
    + limit - 10 (optional) - Optional parameter used to limit the number of elements returned
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        [
            {
                "id": "1",
                "version": "",
                "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/catalog/1",
                "name": "Cloud Services",
                "lastUpdate": "2016-07-20T10:03:59.000+0000",
                "lifecycleStatus": "Launched",
                "relatedParty": [
                    {
                        "id": "fdelavega",
                        "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega",
                        "role": "Owner"
                    }
                ],
                "category": [
                    {
                        "id": "12",
                        "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/12",
                        "name": "Digital Service"
                    }
                ]
            }
        ]

### Create Product Catalog [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body

            {
                "version": "1.0",
                "name": "Cloud Services",
                "lifecycleStatus": "Launched",
                "relatedParty": [
                    {
                        "id": "fdelavega",
                        "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega",
                        "role": "Owner"
                    }
                ],
                "category": [
                    {
                        "id": "12",
                        "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/12",
                        "name": "Digital Service"
                    }
                ]
            }

+ Response 201 (application/json)

        {
            "id": "1",
            "version": "1.0",
            "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/catalog/1",
            "name": "Cloud Services",
            "lastUpdate": "2016-07-20T10:03:59.000+0000",
            "lifecycleStatus": "Launched",
            "relatedParty": [
                {
                    "id": "fdelavega",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega",
                    "role": "Owner"
                }
            ],
            "category": [
                {
                    "id": "12",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/12",
                    "name": "Digital Service"
                }
            ]
        }

## Product Catalog Entry [/DSProductCatalog/api/catalogManagement/v2/catalog/{id}]

### Get Product Catalog [GET]

+ Parameters

    + id - 1 - Id of the catalog to be retrieved
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        {
            "id": "1",
            "version": "",
            "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/catalog/1",
            "name": "Cloud Services",
            "lastUpdate": "2016-07-20T10:03:59.000+0000",
            "lifecycleStatus": "Launched",
            "relatedParty": [
                {
                    "id": "fdelavega",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega",
                    "role": "Owner"
                }
            ],
            "category": [
                {
                    "id": "12",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/12",
                    "name": "Digital Service"
                }
            ]
        }

### Update Product Catalog [PATCH]

+ Parameters

    + id - 1 - Id of the catalog to be updated

+ Request - Partial update of the catalog, only the fields to be updated need to be provided - (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body

            {
                "lifecycleStatus": "Retired"
            }

+ Response 200 (application/json)

        {
            "id": "1",
            "version": "",
            "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/catalog/1",
            "name": "Cloud Services",
            "lastUpdate": "2016-07-20T10:03:59.000+0000",
            "lifecycleStatus": "Retired",
            "relatedParty": [
                {
                    "id": "fdelavega",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega",
                    "role": "Owner"
                }
            ],
            "category": [
                {
                    "id": "12",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/12",
                    "name": "Digital Service"
                }
            ]
        }

# Group Product Specification Management API

API for the management of Product Specifications. A Product Specification is a detailed description of a tangible
or intangible object made available in the form of a Product Offering to customers or other parties playing
a party role.

The Product Specification Management API uses the folowing fields:

* **id** - Unique identifier of the product specification
* **href** - URL pointing to the product specification info
* **productNumber** - An id number asigned by the seller to identify its product specification
* **version** - Version of the product specification
* **lastUpdate** - Date and time of the last update
* **name** - Name of the product specification
* **description** - Narrative text that explains what the product specification is
* **isBundle** - Determines whether the current specification represents a single product specification or a bundle of product specifications
* **brand** - The manufacturer or trademark of the specification
* **lifecycleStatus** - Current lifecycle status of the product specification
* **relatedParty** - List of parties and its roles related to the current product specification. For each party, it is included the id and the href as described in the Party Management section. Additionally, it is inlcluded a *role* field specifing the role of the user in the current product specifrication
* **attachment** - List of product attachments, such as video, pictures, pdf documents, etc. Which help describing the product specification. Each attachment contains the following fields:
    * **type** - Attachment type, video, picture, document, etc. The type *Picture* can be included only once and is used by the platform as the logo of the product specification (and its product offering)
    * **url** - URL pointing to the attachment itself. Note that if the attachment has been uploaded to the system using the asset management API, you can use the URL returned by the upload task in the *Location* header
* **bundledProductSpecification** - In case the current product is a bundle (isBundle is true), this field contains the list of product specifications that made up the bundle. Each element of the list must contain the id, the href and the name of the product specification being bundled
* **productSpecificationRelationship** - Describes the relationships of the current product specification with other product specifications of the system. For each relationship, it is required to include the id and the href of the related product specification, and a *type* which describes the type of relationship. The supported types are *migration*, *substitution*, *dependency*, and *exclusivity*
* **productSpecCharacteristic** - A characteristic or distintive feature of the product specification. Characteristics can be a discrete value, such as color, or can be a range of values. Additionally, some characteristics may be selected during the ordering process. Characteristics have the following fields:
    * **configurable** - Determines whether the characteristic can be configured during the ordering process
    * **name** - Name of the characteristic
    * **description** - Narrative text explaining what the characteristic is
    * **valueType** - The kind of value the characteristic could have. Valid values are *String* and *Number*
    * **productSpecCharacteristicValue** - List of values of the characteristic. If configurable is false, this field must contain a single value. Each of these elements contain the following fields:
        * **default** - Indicates whether tghe current value is the default for the characteristic
        * **unitOfMeasure** - Could be minutes, MB, etc. This field is only used when the type is *Number*
        * **value** - Value of the characteristic when it is a discrete value. If this field is included, valueFrom and valueTo must be empty
        * **valueFrom** - Starting value of the characteristic when it is a range. If this field is included, valueTo must be also included and value must be empty
        * **valueTo** - Ending value of the characteristic when it is a range. If this field is included, valueFrom must be also included and value must be empty
        * **valueType** - The kind of value the characteristic could have. Valid values are *String* and *Number*

## Product Specification Collection [/DSProductCatalog/api/catalogManagement/v2/productSpecification{?start}{?limit}]

### List Product Specifications [GET]

+ Parameters

    + start - 1 (optional) - Optional parameter used to specify the first element to be returned
    + limit - 10 (optional) - Optional parameter used to limit the number of elements returned
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        [
            {
                "id": "22",
                "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/22",
                "productNumber": "I42-340-DX",
                "version": "2.0",
                "lastUpdate": "2013-04-19T16:42:23.0Z",
                "name": "Services Bundle",
                "description": "A bundle of services",
                "isBundle": true,
                "brand": "UPM",
                "lifecycleStatus": "Active",
                "relatedParty": [
                    {
                        "id": "fdelavega",
                        "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega",
                        "role": "Owner"
                    }
                ],
                "attachment": [
                    {
                        "type": "Picture",
                        "url": "https://store.lab.fiware.org/media/picture.png"
                    }
                ],
                "bundledProductSpecification": [
                    {
                        "id": "15",
                        "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/15",
                        "name": "Service 15"
                    }, {
                        "id": "64",
                        "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/64",
                        "name": "Service 64"
                    }
                ],
                "productSpecificationRelationship": [
                    {
                        "id": "23",
                        "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/23",
                        "type": "dependency"
                    }
                ],
                "productSpecCharacteristic": [
                    {
                        "name": "Speed",
                        "description": "Speed of the service",
                        "valueType": "number",
                        "configurable": false,
                        "productSpecCharacteristicValue": [
                            {
                                "valueType": "number",
                                "default": true,
                                "value": "100",
                                "unitOfMeasure": "mb/s",
                                "valueFrom": "",
                                "valueTo": ""
                            }
                        ]
                    }
                ]
            }
        ]
        
### Create Product Specification [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body
    
            {
                "productNumber": "I42-340-DX",
                "version": "2.0",
                "lastUpdate": "2013-04-19T16:42:23.0Z",
                "name": "Services Bundle",
                "description": "A bundle of services",
                "isBundle": true,
                "brand": "UPM",
                "lifecycleStatus": "Active",
                "relatedParty": [
                    {
                        "id": "fdelavega",
                        "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega",
                        "role": "Owner"
                    }
                ],
                "attachment": [
                    {
                        "type": "Picture",
                        "url": "https://store.lab.fiware.org/media/picture.png"
                    }
                ],
                "bundledProductSpecification": [
                    {
                        "id": "15",
                        "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/15",
                        "name": "Service 15"
                    }, {
                        "id": "64",
                        "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/64",
                        "name": "Service 64"
                    }
                ],
                "productSpecificationRelationship": [
                    {
                        "id": "23",
                        "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/23",
                        "type": "dependency"
                    }
                ],
                "productSpecCharacteristic": [
                    {
                        "name": "Speed",
                        "description": "Speed of the service",
                        "valueType": "number",
                        "configurable": false,
                        "productSpecCharacteristicValue": [
                            {
                                "valueType": "number",
                                "default": true,
                                "value": "100",
                                "unitOfMeasure": "mb/s",
                                "valueFrom": "",
                                "valueTo": ""
                            }
                        ]
                    }
                ]
            }

+ Response 201 (application/json)

        {
            "id": "22",
            "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/22",
            "productNumber": "I42-340-DX",
            "version": "2.0",
            "lastUpdate": "2013-04-19T16:42:23.0Z",
            "name": "Services Bundle",
            "description": "A bundle of services",
            "isBundle": true,
            "brand": "UPM",
            "lifecycleStatus": "Active",
            "relatedParty": [
                {
                    "id": "fdelavega",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega",
                    "role": "Owner"
                }
            ],
            "attachment": [
                {
                    "type": "Picture",
                    "url": "https://store.lab.fiware.org/media/picture.png"
                }
            ],
            "bundledProductSpecification": [
                {
                    "id": "15",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/15",
                    "name": "Service 15"
                }, {
                    "id": "64",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/64",
                    "name": "Service 64"
                }
            ],
            "productSpecificationRelationship": [
                {
                    "id": "23",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/23",
                    "type": "dependency"
                }
            ],
            "productSpecCharacteristic": [
                {
                    "name": "Speed",
                    "description": "Speed of the service",
                    "valueType": "number",
                    "configurable": false,
                    "productSpecCharacteristicValue": [
                        {
                            "valueType": "number",
                            "default": true,
                            "value": "100",
                            "unitOfMeasure": "mb/s",
                            "valueFrom": "",
                            "valueTo": ""
                        }
                    ]
                }
            ]
        }

## Product Specification Entry [/DSProductCatalog/api/catalogManagement/v2/productSpecification/{id}]

### Get Product Specification [GET]

+ Parameters

    + id - 1 - Id of the product to be retrieved
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        {
            "id": "22",
            "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/22",
            "productNumber": "I42-340-DX",
            "version": "2.0",
            "lastUpdate": "2013-04-19T16:42:23.0Z",
            "name": "Services Bundle",
            "description": "A bundle of services",
            "isBundle": true,
            "brand": "UPM",
            "lifecycleStatus": "Active",
            "relatedParty": [
                {
                    "id": "fdelavega",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega",
                    "role": "Owner"
                }
            ],
            "attachment": [
                {
                    "type": "Picture",
                    "url": "https://store.lab.fiware.org/media/picture.png"
                }
            ],
            "bundledProductSpecification": [
                {
                    "id": "15",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/15",
                    "name": "Service 15"
                }, {
                    "id": "64",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/64",
                    "name": "Service 64"
                }
            ],
            "productSpecificationRelationship": [
                {
                    "id": "23",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/23",
                    "type": "dependency"
                }
            ],
            "productSpecCharacteristic": [
                {
                    "name": "Speed",
                    "description": "Speed of the service",
                    "valueType": "number",
                    "configurable": false,
                    "productSpecCharacteristicValue": [
                        {
                            "valueType": "number",
                            "default": true,
                            "value": "100",
                            "unitOfMeasure": "mb/s",
                            "valueFrom": "",
                            "valueTo": ""
                        }
                    ]
                }
            ]
        }
        
### Update Product Specification [PATCH]

+ Parameters

    + id - 1 - Id of the product specification to be updated

+ Request - Partial update of the product specification, only the fields to be updated need to be provided - (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body

            {
                "lifecycleStatus": "Retired"
            }

+ Response 200 (application/json)

        {
            "id": "22",
            "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/22",
            "productNumber": "I42-340-DX",
            "version": "2.0",
            "lastUpdate": "2013-04-19T16:42:23.0Z",
            "name": "Services Bundle",
            "description": "A bundle of services",
            "isBundle": true,
            "brand": "UPM",
            "lifecycleStatus": "Active",
            "relatedParty": [
                {
                    "id": "fdelavega",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega",
                    "role": "Owner"
                }
            ],
            "attachment": [
                {
                    "type": "Picture",
                    "url": "https://store.lab.fiware.org/media/picture.png"
                }
            ],
            "bundledProductSpecification": [
                {
                    "id": "15",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/15",
                    "name": "Service 15"
                }, {
                    "id": "64",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/64",
                    "name": "Service 64"
                }
            ],
            "productSpecificationRelationship": [
                {
                    "id": "23",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/23",
                    "type": "dependency"
                }
            ],
            "productSpecCharacteristic": [
                {
                    "name": "Speed",
                    "description": "Speed of the service",
                    "valueType": "number",
                    "configurable": false,
                    "productSpecCharacteristicValue": [
                        {
                            "valueType": "number",
                            "default": true,
                            "value": "100",
                            "unitOfMeasure": "mb/s",
                            "valueFrom": "",
                            "valueTo": ""
                        }
                    ]
                }
            ]
        }

# Group Product Offering Management API

API for the management of Product Offerings. Product Offerings represents
entities that are orderable from the provider of the catalog, this resource
includes pricing information.

The Product Offering Management API uses the following fields:

* **id** - Unique identifier of the product offering
* **href** - URL pointing to the product offering info
* **version** - Version of the product offering
* **lastUpdate** - Date and time of the last update
* **name** - Name of the product offering
* **description** - Narrative text that explains what the product offering is
* **isBundle** - Determines whether the current offering represents a single offering or a bundle of offerings. If false, then a productSpecification will be returned, but the bundledProductOfferings will be absent or empty and vice-versa if isBundle is true. 
* **lifecycleStatus** - Current lifecycle status of the product offering
* **category** - List of categories of the product offering. For each category the id, href, and name fields are included as described in Category Management section.
* **place** - List of places where the offering is available. Each object includes the name of the place
* **bundledProductOffering** - List of offerings included when the product offering is a bundle. For each offering is included the id, the name, and the href
* **productSpecification** - Product specification offered when the offering is not a bundle
* **serviceCandidate** - Object used to specify the product class of the current offering as described in the Revenue Sharing Management sections.
* **productOfferingPrice** - List of pricing models of the product offering. Each of the pricing models included defines a price that can be selected by the customers during the ordering process. Each pricing model includes the following fields:
    * **name** - Name of the pricing model
    * **description** - Narrative text explaining what the pricing models is
    * **priceType** - Type of the pricing model. It could be *one time* for payments made once at acquisition time, *recurring* for payments made periodically, and *usage* for payments calculated based on the usage made by the customer of the product
    * **unitOfMeasure** - Unit that is monitored when the priceType is usage, otherwise this field is empty
    * **recurringChargePeriod** - Specifies the period between charges when the priceType is recurring, otherwise the field is empty
    * **price** - Object describing the price of the pricing model. It contains the following fields:
        * **taxIncludedAmount** - Price of the model
        * **dutyFreeAmount** - Price of the model without imcluding taxes
        * **taxRate** - Percentage of taxes that apply to the price
        * **currencyCode** - Currency of the price
    * **productOfferPriceAlteration** - Object that specifies alterations over the final price based on certain conditions. This object contains the following fields:
        * **name** - Specifies if the alteration is a *discount* or a *fee*
        * **description** - Narrative text explaining what the alteration is
        * **priceType** - Type of the alteration. It could be *one time* if the alterarion onlyu applies to the initial charge, or *recurring* if the alteration applies to all charges
        * **priceCondition** - Condition of the alteration with the format [lt | le | eq | ge | gt ] <price>
        * **price** - fixed price or percentage for be deducted or added to the final price

## Product Offering Collection [/DSProductCatalog/api/catalogManagement/v2/catalog/{catId}/productOffering{?start}{?limit}]

### List Product Offerings [GET]

+ Parameters

    + catId - 1 - Id of the catalog whose offerings are going to be retrieved
    + start - 1 (optional) - Optional parameter used to specify the first element to be returned
    + limit - 10 (optional) - Optional parameter used to limit the number of elements returned
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        [
            {
                "id": "42",
                "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/catalog/1/productOffering/42",
                "version": "1.0",
                "lastUpdate": "2013-04-19T16:42:23.0Z",
                "name": "Virtual Storage Medium",
                "description": "Virtual Storage Medium",
                "isBundle": true,
                "lifecycleStatus": "Active",
                "category": [
                    {
                        "id": "12",
                        "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/12",
                        "name": "Cloud offerings"
                    }
                ],
                "place": [
                    {
                        "name": "France"
                    }
                ],
                "bundledProductOffering": [],
                "productSpecification": 
                    {
                        "id": "13",
                        "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/13",
                        "name": "specification product 1"
                    },
                "serviceCandidate": {
                    "id": "defaultRevenue",
                    "name": "Revenue Sharing Model"
                },
                "productOfferingPrice": [
                    {
                        "name": "Monthly Price",
                        "description": "monthlyprice",
                        "priceType": "recurring",
                        "unitOfMeasure": "",
                        "price": {
                            "taxIncludedAmount": 12,
                            "dutyFreeAmount": 10,
                            "taxRate": 20,
                            "currencyCode": "EUR",
                        },
                        "recurringChargePeriod": "monthly"
                    }, {
                        "name": "Usage Price",
                        "description": "usageprice",
                        "priceType": "usage",
                        "unitOfMeasure": "second",
                        "price": {
                            "taxIncludedAmount": 12,
                            "dutyFreeAmount": 10,
                            "taxRate": 20,
                            "currencyCode": "EUR"
                        },
                        "recurringChargePeriod": "",
                        "productOfferPriceAlteration": {
                            "name": "Discount",
                            "description": "One time shipping discount",
                            "priceType": "one time",
                            "unitOfMeasure": "",
                            "price": {
                                "percentage": 100
                            },
                            "recurringChargePeriod": "",
                            "priceCondition": "gt 300.00"
                        }
                    }
                ]
            }
        ]


### Create Product Offering [POST]

+ Parameters

    + catId - 1 - Id of the catalog whose offerings are going to be retrieved

+ Request (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body
    
            {
                "version": "1.0",
                "name": "Virtual Storage Medium",
                "description": "Virtual Storage Medium",
                "isBundle": true,
                "lifecycleStatus": "Active",
                "category": [
                    {
                        "id": "12",
                        "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/12",
                        "name": "Cloud offerings"
                    }
                ],
                "place": [
                    {
                        "name": "France"
                    }
                ],
                "bundledProductOffering": [],
                "productSpecification": 
                    {
                        "id": "13",
                        "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/13",
                        "name": "specification product 1"
                    },
                "serviceCandidate": {
                    "id": "defaultRevenue",
                    "name": "Revenue Sharing Model"
                },
                "productOfferingPrice": [
                    {
                        "name": "Monthly Price",
                        "description": "monthlyprice",
                        "priceType": "recurring",
                        "unitOfMeasure": "",
                        "price": {
                            "taxIncludedAmount": 12,
                            "dutyFreeAmount": 10,
                            "taxRate": 20,
                            "currencyCode": "EUR",
                        },
                        "recurringChargePeriod": "monthly"
                    }, {
                        "name": "Usage Price",
                        "description": "usageprice",
                        "priceType": "usage",
                        "unitOfMeasure": "second",
                        "price": {
                            "taxIncludedAmount": 12,
                            "dutyFreeAmount": 10,
                            "taxRate": 20,
                            "currencyCode": "EUR"
                        },
                        "recurringChargePeriod": "",
                        "productOfferPriceAlteration": {
                            "name": "Discount",
                            "description": "One time shipping discount",
                            "priceType": "one time",
                            "unitOfMeasure": "",
                            "price": {
                                "percentage": 100
                            },
                            "recurringChargePeriod": "",
                            "priceCondition": "gt 300.00"
                        }
                    }
                ]
            }

+ Response 201 (application/json)

        {
            "id": "42",
            "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/catalog/1/productOffering/42",
            "version": "1.0",
            "lastUpdate": "2013-04-19T16:42:23.0Z",
            "name": "Virtual Storage Medium",
            "description": "Virtual Storage Medium",
            "isBundle": true,
            "lifecycleStatus": "Active",
            "category": [
                {
                    "id": "12",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/12",
                    "name": "Cloud offerings"
                }
            ],
            "place": [
                {
                    "name": "France"
                }
            ],
            "bundledProductOffering": [],
            "productSpecification": 
                {
                    "id": "13",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/13",
                    "name": "specification product 1"
                },
            "serviceCandidate": {
                "id": "defaultRevenue",
                "name": "Revenue Sharing Model"
            },
            "productOfferingPrice": [
                {
                    "name": "Monthly Price",
                    "description": "monthlyprice",
                    "priceType": "recurring",
                    "unitOfMeasure": "",
                    "price": {
                        "taxIncludedAmount": 12,
                        "dutyFreeAmount": 10,
                        "taxRate": 20,
                        "currencyCode": "EUR",
                    },
                    "recurringChargePeriod": "monthly"
                }, {
                    "name": "Usage Price",
                    "description": "usageprice",
                    "priceType": "usage",
                    "unitOfMeasure": "second",
                    "price": {
                        "taxIncludedAmount": 12,
                        "dutyFreeAmount": 10,
                        "taxRate": 20,
                        "currencyCode": "EUR"
                    },
                    "recurringChargePeriod": "",
                    "productOfferPriceAlteration": {
                        "name": "Discount",
                        "description": "One time shipping discount",
                        "priceType": "one time",
                        "unitOfMeasure": "",
                        "price": {
                            "percentage": 100
                        },
                        "recurringChargePeriod": "",
                        "priceCondition": "gt 300.00"
                    }
                }
            ]
        }

## Product Offering Entry [/DSProductCatalog/api/catalogManagement/v2/catalog/{catId}/productOffering/{id}]

### Get Product Offering [GET]

+ Parameters

    + catId - 1 - Id of the catalog whose offerings are going to be retrieved
    + id - 1 - Id of the product offering to be retrieved

+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        {
            "id": "42",
            "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/catalog/1/productOffering/42",
            "version": "1.0",
            "lastUpdate": "2013-04-19T16:42:23.0Z",
            "name": "Virtual Storage Medium",
            "description": "Virtual Storage Medium",
            "isBundle": true,
            "lifecycleStatus": "Active",
            "category": [
                {
                    "id": "12",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/12",
                    "name": "Cloud offerings"
                }
            ],
            "place": [
                {
                    "name": "France"
                }
            ],
            "bundledProductOffering": [],
            "productSpecification": 
                {
                    "id": "13",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/13",
                    "name": "specification product 1"
                },
            "serviceCandidate": {
                "id": "defaultRevenue",
                "name": "Revenue Sharing Model"
            },
            "productOfferingPrice": [
                {
                    "name": "Monthly Price",
                    "description": "monthlyprice",
                    "priceType": "recurring",
                    "unitOfMeasure": "",
                    "price": {
                        "taxIncludedAmount": 12,
                        "dutyFreeAmount": 10,
                        "taxRate": 20,
                        "currencyCode": "EUR",
                    },
                    "recurringChargePeriod": "monthly"
                }, {
                    "name": "Usage Price",
                    "description": "usageprice",
                    "priceType": "usage",
                    "unitOfMeasure": "second",
                    "price": {
                        "taxIncludedAmount": 12,
                        "dutyFreeAmount": 10,
                        "taxRate": 20,
                        "currencyCode": "EUR"
                    },
                    "recurringChargePeriod": "",
                    "productOfferPriceAlteration": {
                        "name": "Discount",
                        "description": "One time shipping discount",
                        "priceType": "one time",
                        "unitOfMeasure": "",
                        "price": {
                            "percentage": 100
                        },
                        "recurringChargePeriod": "",
                        "priceCondition": "gt 300.00"
                    }
                }
            ]
        }

### Update Product Offering [PATCH]

+ Parameters

    + catId - 1 - Id of the catalog whose offerings are going to be retrieved
    + id - 1 - Id of the product offering to be retrieved

+ Request - Partial update of the product offering, only the fields to be updated need to be provided - (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body

            {
                "lifecycleStatus": "Retired"
            }

+ Response 200 (application/json)

        {
            "id": "42",
            "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/catalog/1/productOffering/42",
            "version": "1.0",
            "lastUpdate": "2013-04-19T16:42:23.0Z",
            "name": "Virtual Storage Medium",
            "description": "Virtual Storage Medium",
            "isBundle": true,
            "lifecycleStatus": "Active",
            "category": [
                {
                    "id": "12",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/category/12",
                    "name": "Cloud offerings"
                }
            ],
            "place": [
                {
                    "name": "France"
                }
            ],
            "bundledProductOffering": [],
            "productSpecification": 
                {
                    "id": "13",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/13",
                    "name": "specification product 1"
                },
            "serviceCandidate": {
                "id": "defaultRevenue",
                "name": "Revenue Sharing Model"
            },
            "productOfferingPrice": [
                {
                    "name": "Monthly Price",
                    "description": "monthlyprice",
                    "priceType": "recurring",
                    "unitOfMeasure": "",
                    "price": {
                        "taxIncludedAmount": 12,
                        "dutyFreeAmount": 10,
                        "taxRate": 20,
                        "currencyCode": "EUR",
                    },
                    "recurringChargePeriod": "monthly"
                }, {
                    "name": "Usage Price",
                    "description": "usageprice",
                    "priceType": "usage",
                    "unitOfMeasure": "second",
                    "price": {
                        "taxIncludedAmount": 12,
                        "dutyFreeAmount": 10,
                        "taxRate": 20,
                        "currencyCode": "EUR"
                    },
                    "recurringChargePeriod": "",
                    "productOfferPriceAlteration": {
                        "name": "Discount",
                        "description": "One time shipping discount",
                        "priceType": "one time",
                        "unitOfMeasure": "",
                        "price": {
                            "percentage": 100
                        },
                        "recurringChargePeriod": "",
                        "priceCondition": "gt 300.00"
                    }
                }
            ]
        }

# Group Order Management API

API for the management of Product Orders. Product orders are made by customers, and include a set of order items each specifiying an offering to be acquired. When creating an order, customers can select the value of the different 
configurable characteristics as well as the concrete pricing to be aplied.

This API manages the following fields:

* **id** - Unique identifier of the order
* **href** - URL pointing to the product order info
* **externalId** - Id of the order given by customer, which can be used by them to identify the order in their own systems 
* **priority** - Number between 1 and 4 (1 the highest) that can used by the customer to specify the priority of their orders
* **description** - Description of the product order
* **state** - Status of the order, relative to the status of the different order items
* **orderDate** - Date when the order was created
* **completionDate** - Date when the order was completed
* **requestedStartDate** - Order start date wished by the requestor
* **requestedCompletionDate** - Requested delivery date from the requestor perspective
* **expectedCompletionDate** - Expected delivery date amended by the provider
* **notificationContact** - Contact attached to the order to send back information regarding the current order
* **note** - List of extra information about the order. For each note is included the following info:
    * **date** - Date of the note
    * **author** - Author of the note
    * **text** - Text of the note
* **relatedParty** - Defines parties which are involved in the order and the role they are playing. For each party, it is included the id and the href as described in the Party Management section. Additionally, it is inlcluded a *role* field specifing the role of the user in the current product order
* **orderItem** - List of order items that have to be treated. For each order item the following information is managed:
    * **id** - Id of the order item relative to to the product order (Only need to be unique within the order)
    * **action** - Type of the order item. Currently only *add* is supported (acquisition)
    * **state** - Status of the order item
    * **billingAccount** - Billing account selected by the customer to acquire the offering according to the Billing Management API section
    * **productOffering** - Product offering being acquired. It includes the id and the href of the product offering
    * **product** - Information provided to create the inventory product. It contains the selected characteristics and the selected pricing. The different fields managed by this object are the same as the described in the Inventory Management API Section


## Product Order Collection [/DSProductOrdering/api/productOrdering/v2/productOrder{?start}{?limit}]

### List Product Orders [GET]

+ Parameters

    + start - 1 (optional) - Optional parameter used to specify the first element to be returned
    + limit - 10 (optional) - Optional parameter used to limit the number of elements returned
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        [
            {
                "id":"42",
                "href":"https://store.lab.fiware.org/DSProductOrdering/api/productOrdering/v2/productOrder/42",
                "externalId": "CustomerId",
                "priority":"1",
                "description":"A wonderful 42 order for brand new products",
                "state":"InProgress",
                "orderDate":"2013-04-12T16:42:23-04:00",
                "completionDate":"2013-04-19T16:42:23-04:00",
                "requestedStartDate":"2013-04-12T16:42:23-04:00",
                "requestedCompletionDate":"2013-04-19T16:42:23-04:00",
                "expectedCompletionDate":"2013-04-19T16:42:23-04:00",
                "notificationContact":"fdelavega@conwet.com",
                "note":[
                    {
                        "text": "A free text detailing the note",
                        "date": "2013-04-12T16:42:23-04:00",
                        "author": "fdelavega"
                    }
                ],
                "relatedParty":[
                    {
                        "role": "customer",
                        "id": "fdelavega",
                        "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega"
                    }, {
                        "role": "seller",
                        "id": "aarranz",
                        "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/aarranz"
                    }
                ],
                "orderItem": {
                    "id":"1",
                    "action":"add",
                    "state":"Acknowledged",
                    "billingAccount":[{
                        "id": "5",
                        "href": "https://store.lab.fiware.org/DSBillingManagement/api/billingManagement/v2/billingAccount/5"
                    }],
                    "productOffering":{
                        "id":"42",
                        "href":"http: //serverlocation: port/catalogManagement/productOffering/42"
                    },
                    "product":{
                        "productCharacteristic":[
                            {
                                "name":"Colour",
                                "value":"White"
                            },
                            {
                                "name":"Memory",
                                "value":"16"
                            }
                        ],
                        "productPrice": [
                            {
                                "name" : "Monthly payment",
                                "description" : "A monthly payment price model",
                                "priceType":"recurring",
                                "recurringChargePeriod":"monthly",
                                "unitOfMeasure":"",
                                "price":{
                                    "amount":"12",
                                    "currency":"EUR"
                                }
                            }
                        ]
                    }
                }  
            }
        ]

### Create Product Order [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body

            {
                "externalId": "CustomerId",
                "priority":"1",
                "description":"A wonderful 42 order for brand new products",
                "state":"InProgress",
                "requestedStartDate":"2013-04-12T16:42:23-04:00",
                "requestedCompletionDate":"2013-04-19T16:42:23-04:00"
                "notificationContact":"fdelavega@conwet.com",
                "note":[
                    {
                        "text": "A free text detailing the note",
                        "date": "2013-04-12T16:42:23-04:00",
                        "author": "fdelavega"
                    }
                ],
                "relatedParty":[
                    {
                        "role": "customer",
                        "id": "fdelavega",
                        "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega"
                    }, {
                        "role": "seller",
                        "id": "aarranz",
                        "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/aarranz"
                    }
                ],
                "orderItem": {
                    "id":"1",
                    "action":"add",
                    "state":"Acknowledged",
                    "billingAccount":[{
                        "id": "5",
                        "href": "https://store.lab.fiware.org/DSBillingManagement/api/billingManagement/v2/billingAccount/5"
                    }],
                    "productOffering":{
                        "id":"42",
                        "href":"http: //serverlocation: port/catalogManagement/productOffering/42"
                    },
                    "product":{
                        "productCharacteristic":[
                            {
                                "name":"Colour",
                                "value":"White"
                            },
                            {
                                "name":"Memory",
                                "value":"16"
                            }
                        ],
                        "productPrice": [
                            {
                                "name" : "Monthly payment",
                                "description" : "A monthly payment price model",
                                "priceType":"recurring",
                                "recurringChargePeriod":"monthly",
                                "unitOfMeasure":"",
                                "price":{
                                    "amount":"12",
                                    "currency":"EUR"
                                }
                            }
                        ]
                    }
                }
            }

+ Response 201 (application/json)

        {
            "id":"42",
            "href":"https://store.lab.fiware.org/DSProductOrdering/api/productOrdering/v2/productOrder/42",
            "externalId": "CustomerId",
            "priority":"1",
            "description":"A wonderful 42 order for brand new products",
            "state":"InProgress",
            "orderDate":"2013-04-12T16:42:23-04:00",
            "requestedStartDate":"2013-04-12T16:42:23-04:00",
            "requestedCompletionDate":"2013-04-19T16:42:23-04:00",
            "notificationContact":"fdelavega@conwet.com",
            "note":[
                {
                    "text": "A free text detailing the note",
                    "date": "2013-04-12T16:42:23-04:00",
                    "author": "fdelavega"
                }
            ],
            "relatedParty":[
                {
                    "role": "customer",
                    "id": "fdelavega",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega"
                }, {
                    "role": "seller",
                    "id": "aarranz",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/aarranz"
                }
            ],
            "orderItem": {
                "id":"1",
                "action":"add",
                "state":"Acknowledged",
                "billingAccount":[{
                    "id": "5",
                    "href": "https://store.lab.fiware.org/DSBillingManagement/api/billingManagement/v2/billingAccount/5"
                }],
                "productOffering":{
                    "id":"42",
                    "href":"http: //serverlocation: port/catalogManagement/productOffering/42"
                },
                "product":{
                    "productCharacteristic":[
                        {
                            "name":"Colour",
                            "value":"White"
                        },
                        {
                            "name":"Memory",
                            "value":"16"
                        }
                    ],
                    "productPrice": [
                        {
                            "name" : "Monthly payment",
                            "description" : "A monthly payment price model",
                            "priceType":"recurring",
                            "recurringChargePeriod":"monthly",
                            "unitOfMeasure":"",
                            "price":{
                                "amount":"12",
                                "currency":"EUR"
                            }
                        }
                    ]
                }
            }
        }

## Product Order Entry [/DSProductOrdering/api/productOrdering/v2/productOrder/{id}]

### Get Product Order [GET]

+ Parameters

    + id - 1 - Id of the product order to be retrieved
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        {
            "id":"42",
            "href":"https://store.lab.fiware.org/DSProductOrdering/api/productOrdering/v2/productOrder/42",
            "externalId": "CustomerId",
            "priority":"1",
            "description":"A wonderful 42 order for brand new products",
            "state":"InProgress",
            "orderDate":"2013-04-12T16:42:23-04:00",
            "completionDate":"2013-04-19T16:42:23-04:00",
            "requestedStartDate":"2013-04-12T16:42:23-04:00",
            "requestedCompletionDate":"2013-04-19T16:42:23-04:00",
            "expectedCompletionDate":"2013-04-19T16:42:23-04:00",
            "notificationContact":"fdelavega@conwet.com",
            "note":[
                {
                    "text": "A free text detailing the note",
                    "date": "2013-04-12T16:42:23-04:00",
                    "author": "fdelavega"
                }
            ],
            "relatedParty":[
                {
                    "role": "customer",
                    "id": "fdelavega",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega"
                }, {
                    "role": "seller",
                    "id": "aarranz",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/aarranz"
                }
            ],
            "orderItem": {
                "id":"1",
                "action":"add",
                "state":"Acknowledged",
                "billingAccount":[{
                    "id": "5",
                    "href": "https://store.lab.fiware.org/DSBillingManagement/api/billingManagement/v2/billingAccount/5"
                }],
                "productOffering":{
                    "id":"42",
                    "href":"http: //serverlocation: port/catalogManagement/productOffering/42"
                },
                "product":{
                    "productCharacteristic":[
                        {
                            "name":"Colour",
                            "value":"White"
                        },
                        {
                            "name":"Memory",
                            "value":"16"
                        }
                    ],
                    "productPrice": [
                        {
                            "name" : "Monthly payment",
                            "description" : "A monthly payment price model",
                            "priceType":"recurring",
                            "recurringChargePeriod":"monthly",
                            "unitOfMeasure":"",
                            "price":{
                                "amount":"12",
                                "currency":"EUR"
                            }
                        }
                    ]
                }
            }
        }


### Update Product Order [PATCH]

+ Parameters

    + id - 1 - Id of the product order to be updated

+ Request - Partial update of the product order, only the fields to be updated need to be provided - (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body

            {
                "state": "Completed"
            }

+ Response 200 (application/json)

        {
            "id":"42",
            "href":"https://store.lab.fiware.org/DSProductOrdering/api/productOrdering/v2/productOrder/42",
            "externalId": "CustomerId",
            "priority":"1",
            "description":"A wonderful 42 order for brand new products",
            "state":"Completed",
            "orderDate":"2013-04-12T16:42:23-04:00",
            "completionDate":"2013-04-19T16:42:23-04:00",
            "requestedStartDate":"2013-04-12T16:42:23-04:00",
            "requestedCompletionDate":"2013-04-19T16:42:23-04:00",
            "expectedCompletionDate":"2013-04-19T16:42:23-04:00",
            "notificationContact":"fdelavega@conwet.com",
            "note":[
                {
                    "text": "A free text detailing the note",
                    "date": "2013-04-12T16:42:23-04:00",
                    "author": "fdelavega"
                }
            ],
            "relatedParty":[
                {
                    "role": "customer",
                    "id": "fdelavega",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/fdelavega"
                }, {
                    "role": "seller",
                    "id": "aarranz",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/aarranz"
                }
            ],
            "orderItem": {
                "id":"1",
                "action":"add",
                "state":"Completed",
                "billingAccount":[{
                    "id": "5",
                    "href": "https://store.lab.fiware.org/DSBillingManagement/api/billingManagement/v2/billingAccount/5"
                }],
                "productOffering":{
                    "id":"42",
                    "href":"http: //serverlocation: port/catalogManagement/productOffering/42"
                },
                "product":{
                    "productCharacteristic":[
                        {
                            "name":"Colour",
                            "value":"White"
                        },
                        {
                            "name":"Memory",
                            "value":"16"
                        }
                    ],
                    "productPrice": [
                        {
                            "name" : "Monthly payment",
                            "description" : "A monthly payment price model",
                            "priceType":"recurring",
                            "recurringChargePeriod":"monthly",
                            "unitOfMeasure":"",
                            "price":{
                                "amount":"12",
                                "currency":"EUR"
                            }
                        }
                    ]
                }
            }
        }
        
# Group Inventory Management API

API for the Management of the Inventory. This API allows to retrieve instantiated products, that is, this API allows customers to retrieved information of the products they have acquired including the specific characteristics and
pricing model selected. Note that this API does not allow to create or update products. This process is done by the system when an order is completed or renovated.

This API manages the following fields:

* **id** - Id that identifies the product
* **href** - URL pointing to the product info
* **name** - Name of the product (maps the name of the product specification)
* **description** - Description of the product (maps the description of the product specification)
* **status** - Current status of the products. Specifies if the user has access to the service (Active), if the service is temporally unaccessible for the customer (Suspended), or if the customer has no longer access to the service (Terminated)
* **isBundle** - Specifies whether the acquired offering is a bunlde
* **startDate** - Date when the product was activated. The customer has access to the acqured service from this date
* **orderDate** - Date when the order that generated the current product was created
* **terminationDate** - Date when the product was terminated. The customer has no longer access to the acquired service from this date
* **productOffering** - Offering that has been acquired. This object includes the id and the href of the offering
* **productSpecification** - Product specification that has been acquired. This object includes the id and the href of the product specification
* **productCharacteristic** - Selected values of the configurable characteristics defined in the product specificacion
* **billingAccount** - Billing account used by the customer to acquire the product offering
* **relatedParty** - Defines parties which are involved in the product and the role they are playing. For each party, it is included the id and the href as described in the Party Management section. Additionally, it is inlcluded a *role* field specifing the role of the user in the current product
* **productPrice** - Price model of the product offering selected by the user when the order was created

## Product Collection [/DSProductInventory/api/productInventory/v2/product{?start}{?limit}]

### List Products [GET]

+ Parameters

    + start - 1 (optional) - Optional parameter used to specify the first element to be returned
    + limit - 10 (optional) - Optional parameter used to limit the number of elements returned
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        [
            {
                "id": "42",
                "href": "https://store.lab.fiware.org/DSProductInventory/api/productInventory/v2/product/42",
                "name": "Broadband",
                "description": "Description of the instantiated broadband product",
                "status": "active",
                "isBundle" : false,
                "startDate": "2013-07-21 08:16:39ZGMT+1",
                "orderDate": "2013-07-21 06:16:39ZGMT+1",
                "terminationDate": "",
                "productOffering": {
                    "id":"42",
                    "href":"http: //serverlocation: port/catalogManagement/productOffering/42"
                },
                "productSpecification": {
                    "id": "13",
                    "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/13",
                },
                "productCharacteristic":[{
                    "name":"speed",
                    "value":"16M"
                }],
                "billingAccount": [{
                    "id": "5",
                    "href": "https://store.lab.fiware.org/DSBillingManagement/api/billingManagement/v2/billingAccount/5"
                }],
                "relatedParty": [{
                    "role": "owner",
                    "id": "aarranz",
                    "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/aarranz"
                }],
                "productPrice" : [
                    {
                        "name" : "Monthly payment",
                        "description" : "A monthly payment price model",
                        "priceType":"recurring",
                        "recurringChargePeriod":"monthly",
                        "unitOfMeasure":"",
                        "price":{
                            "amount":"12",
                            "currency":"EUR"
                        }
                    }
                ]
            }
        ]

## Product Entry [/DSProductInventory/api/productInventory/v2/product/{id}]

### Get Product [GET]

+ Parameters

    + id - 1 - Id of the product to be retrieved
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        {
            "id": "42",
            "href": "https://store.lab.fiware.org/DSProductInventory/api/productInventory/v2/product/42",
            "name": "Broadband",
            "description": "Description of the instantiated broadband product",
            "status": "active",
            "isBundle" : false,
            "startDate": "2013-07-21 08:16:39ZGMT+1",
            "orderDate": "2013-07-21 06:16:39ZGMT+1",
            "terminationDate": "",
            "productOffering": {
                "id":"42",
                "href":"http: //serverlocation: port/catalogManagement/productOffering/42"
            },
            "productSpecification": {
                "id": "13",
                "href": "https://store.lab.fiware.org/DSProductCatalog/api/catalogManagement/v2/productSpecification/13",
            },
            "productCharacteristic":[{
                    "name":"speed",
                    "value":"16M"
            }],
            "billingAccount": [{
                "id": "5",
                "href": "https://store.lab.fiware.org/DSBillingManagement/api/billingManagement/v2/billingAccount/5"
            }],
            "relatedParty": [{
                "role": "owner",
                "id": "aarranz",
                "href": "https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/aarranz"
            }],
            "productPrice" : [
                {
                    "name" : "Monthly payment",
                    "description" : "A monthly payment price model",
                    "priceType":"recurring",
                    "recurringChargePeriod":"monthly",
                    "unitOfMeasure":"",
                    "price":{
                        "amount":"12",
                        "currency":"EUR"
                    }
                }
            ]
        }
    
# Group Party Management API

API for the management of the parties. This API allows to create, retrieve  and update the different parties of the system, who are included as related parties in the rest of APIs.
For the different individuals of the system the following information is used:

* **id** - Id of the party. Corresponds with the username of the user in the system
* **href** - URL pointing to the party info
* **gender** - Gender of the individual owner of the account
* **placeOfBirth** - Place where the owner of the account was born
* **countryOfBirth** - Country where the owner of the account was born
* **nationality** - Nationality of the owner of the account
* **maritalStatus** - Marital status (married, divorced, widow, etc)
* **birthDate** - Date when the owner of the account was born
* **title** - Preferred title of the user (Mr., Dr., etc)
* **givenName** - First name of the user owner of the account
* **familyName** - Family name of the user owner of the account
* **contactMedium** - List of mediums that can be used to contact the user. Note that this information is public to all the users of the system, so this mediums are used as seller contact. Each medium contains the following fields:
    * **type** - Type of the contact medium. It could be *Email*, *TelephoneNumber*, or *PostalAddress*
    * **preferred** - If true, indicates that is the preferred contact medium
    * **emailAddress** - Full email address in standard format. This field is only used when the type is *Email*
    * **number** - Phone number. This field is only used when the type is *TelephoneNumber*
    * **street1** - Describes the street. This field is only used when the type is *PostalAddress*
    * **street2** - Complementary street description. This field is only used when the type is *PostalAddress*
    * **city** - City of the medium. This field is only used when the type is *PostalAddress*
    * **postCode** - PostCode of the medium. This field is only used when the type is *PostalAddress*
    * **stateOrProvince** - State or province of the medium. This field is only used when the type is *PostalAddress*
    * **country** - Country of the medium. This field is only used when the type is *PostalAddress*

## Individuals Collection [/DSPartyManagement/api/partyManagement/v2/individual]

### List Individuals [GET]

+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        [
            {
                "id": "francisco-de-la-vega",
                "href": "http://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/francisco-de-la-vega",
                "birthDate": "1970-01-04T01:00:00+01:00",
                "countryOfBirth": "DZ",
                "familyName": "de la Vega",
                "gender": "Male",
                "givenName": "Francisco",
                "maritalStatus": "Married",
                "nationality": "spanish",
                "placeOfBirth": "Madrid",
                "title": "Mr",
                "contactMedium": [{
                    "type": "Email",
                    "preferred": "false",
                    "medium": {
                         "emailAddress": "fdelavega@conwet.com"
                    }
                }]
            }
        ]

### Create Individual [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body

            {
                "id": "francisco-de-la-vega",
                "birthDate": "1970-01-04T01:00:00+01:00",
                "countryOfBirth": "DZ",
                "familyName": "de la Vega",
                "gender": "Male",
                "givenName": "Francisco",
                "maritalStatus": "Married",
                "nationality": "spanish",
                "placeOfBirth": "Madrid",
                "title": "Mr",
                "contactMedium": [{
                    "type": "Email",
                    "preferred": "false",
                    "medium": {
                         "emailAddress": "fdelavega@conwet.com"
                    }
                }]
            }

+ Response 201 (application/json)

        {
            "id": "francisco-de-la-vega",
            "href": "http://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/francisco-de-la-vega",
            "birthDate": "1970-01-04T01:00:00+01:00",
            "countryOfBirth": "DZ",
            "familyName": "de la Vega",
            "gender": "Male",
            "givenName": "Francisco",
            "maritalStatus": "Married",
            "nationality": "spanish",
            "placeOfBirth": "Madrid",
            "title": "Mr",
            "contactMedium": [{
                "type": "Email",
                "preferred": "false",
                "medium": {
                    "emailAddress": "fdelavega@conwet.com"
                }
            }]
        }
            
## Individual Entry [/DSPartyManagement/api/partyManagement/v2/individual/{id}]

### Get Individual [GET]

+ Parameters

    + id - 1 - Id of the individual to be retrieved
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        {
            "id": "francisco-de-la-vega",
            "href": "http://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/francisco-de-la-vega",
            "birthDate": "1970-01-04T01:00:00+01:00",
            "countryOfBirth": "DZ",
            "familyName": "de la Vega",
            "gender": "Male",
            "givenName": "Francisco",
            "maritalStatus": "Married",
            "nationality": "spanish",
            "placeOfBirth": "Madrid",
            "title": "Mr",
            "contactMedium": [{
                "type": "Email",
                "preferred": "false",
                "medium": {
                     "emailAddress": "fdelavega@conwet.com"
                }
            }]
        }


### Update Individual [PATCH]

+ Parameters

    + id - 1 - Id of the individual to be updated

+ Request - Partial update of the individual, only the fields to be updated need to be provided - (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body

            {
                "maritalStatus": "Divorced"
            }

+ Response 200 (application/json)

        {
            "id": "francisco-de-la-vega",
            "href": "http://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/francisco-de-la-vega",
            "birthDate": "1970-01-04T01:00:00+01:00",
            "countryOfBirth": "DZ",
            "familyName": "de la Vega",
            "gender": "Male",
            "givenName": "Francisco",
            "maritalStatus": "Divorced",
            "nationality": "spanish",
            "placeOfBirth": "Madrid",
            "title": "Mr",
            "contactMedium": [{
                "type": "Email",
                "preferred": "false",
                "medium": {
                     "emailAddress": "fdelavega@conwet.com"
                }
            }]
        }
        
# Group Customer Management API

API for the management of customer information. This API is used for saving customer private information that cannot be included within the party resources. Concretely, this API is used jointly with *Customer Account*, and
*Billing Account* to maintain different shipping contact mediums (including, email, phone, and address) attached to different billing accounts.

This API manages the following fields:

* **id** - Id that identifies the customer object
* **href** - URL pointing to the customer info
* **name** - Username of the owner of the customer object. Note that this field maps the *id* field of the individual object
* **relatedParty** - Party which owns the Customer object
* **contactMedium** - List of contact mediums that define a shipping contact. This list has the same format as the contact medium described in the *Party Management API*, and must include an email, a telephone, and an address. In this case, this address is private and only vissible by sellers when they need it.
* **customerAccount** - Reference of the customer account attached to this customer object

Note that a complete shipping profile is created as a tuple of a Customer object, a Customer Account, and a Billing Account. In this way, the Billing account reference is included when creating an order (see **Order Management API** section),
the Billing Account includes a reference to a Customer Account which links to a Customer object. The later contains the contact medium chosen as shipping address for the order.

## Customer Collection [/DSCustomerManagement/api/customerManagement/v2/customer]

### List Customers [GET]

+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        [
            {
                "id": 51,
                "href":"https://store.lab.fiware.org/DSCustomerManagement/api/customerManagement/v2/customer/51",
                "name":"francisco-de-la-vega",
                "relatedParty": {
                    "id":"francisco-de-la-vega",
                    "href":"https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/francisco-de-la-vega",
                    "role":"Owner"
                },
                "contactMedium":[{
                    "type":"Email",
                    "medium": {
                        "emailAddress": "fdelavega@conwet.com.com"
                    },
                    "preferred":false
                }, {
                    "type": "PostalAddress", 
                    "medium": {
                        "city":"Madrid",
                        "country": "SP",
                        "postcode": "28016",
                        "stateOrProvince": "Madrid",
                        "streetOne":"Campus Montegancedo S/N"
                    },
                    "preferred":false
                }, {
                    "type":"TelephoneNumber",
                    "medium":{
                        "type": "mobile",
                        "number":"+34622222222"
                    },
                    "preferred":false
                }],
                "customerAccount":[{
                    "href": "http://store.lab.fiware.org/DSCustomerManagement/api/customerManagement/v2/customerAccount/60"
                    "id": "60"
                    "name": "francisco-de-la-vega"
                    "status": "Active"
                }]
            }
        ]

### Create a Customer [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

    + Body

            {
                "name":"francisco-de-la-vega",
                "relatedParty": {
                    "id":"francisco-de-la-vega",
                    "href":"https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/francisco-de-la-vega",
                    "role":"Owner"
                },
                "contactMedium":[{
                    "type":"Email",
                    "medium": {
                        "emailAddress": "fdelavega@conwet.com.com"
                    },
                    "preferred":false
                }, {
                    "type": "PostalAddress", 
                    "medium": {
                        "city":"Madrid",
                        "country": "SP",
                        "postcode": "28016",
                        "stateOrProvince": "Madrid",
                        "streetOne":"Campus Montegancedo S/N"
                    },
                    "preferred":false
                }, {
                    "type":"TelephoneNumber",
                    "medium":{
                        "type": "mobile",
                        "number":"+34622222222"
                    },
                    "preferred":false
                }],
                "customerAccount":[]
            }

+ Response 201 (application/json)

        {
            "id": 51,
            "href":"https://store.lab.fiware.org/DSCustomerManagement/api/customerManagement/v2/customer/51",
            "name":"francisco-de-la-vega",
            "relatedParty": {
                "id":"francisco-de-la-vega",
                "href":"https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/francisco-de-la-vega",
                "role":"Owner"
            },
            "contactMedium":[{
                "type":"Email",
                "medium": {
                    "emailAddress": "fdelavega@conwet.com.com"
                },
                "preferred":false
            }, {
                "type": "PostalAddress", 
                "medium": {
                    "city":"Madrid",
                    "country": "SP",
                    "postcode": "28016",
                    "stateOrProvince": "Madrid",
                    "streetOne":"Campus Montegancedo S/N"
                },
                "preferred":false
            }, {
                "type":"TelephoneNumber",
                "medium":{
                    "type": "mobile",
                    "number":"+34622222222"
                },
                "preferred":false
            }],
            "customerAccount":[]
        }

## Customer Entry [/DSCustomerManagement/api/customerManagement/v2/customer/{id}]

### Get Customer [GET]

+ Parameters

    + id - 1 - Id of the customer to be retrieved
    
+ Request

    + Headers

            Authorization: Bearer YOUR_OAUTH2_TOKEN

+ Response 200 (application/json)

        {
            "id": 51,
            "href":"https://store.lab.fiware.org/DSCustomerManagement/api/customerManagement/v2/customer/51",
            "name":"francisco-de-la-vega",
            "relatedParty": {
                "id":"francisco-de-la-vega",
                "href":"https://store.lab.fiware.org/DSPartyManagement/api/partyManagement/v2/individual/francisco-de-la-vega",
                "role":"Owner"
            },
            "contactMedium":[{
                "type":"Email",
                "medium": {
                    "emailAddress": "fdelavega@conwet.com.com"
                },
                "preferred":false
            }, {
                "type": "PostalAddress", 
                "medium": {
                    "city":"Madrid",
[...]
